<mat-toolbar class="mat-elevation-z2" color="primary">
  <button [routerLink]="['/']" mat-button>
    <h2>Great American Debate - Data Entry</h2>
  </button>
  <span fxFlex></span>
  <div fxLayout="row" fxLayoutGap="1em">
    <button mat-icon-button [matMenuTriggerFor]="helpMenu">
      <mat-icon class="icon">help</mat-icon>
    </button>
  </div>
  <mat-menu #helpMenu="matMenu">
    <a class="iconButton" fxLayout="row" fxLayoutAlign="space-between center" href="https://greatamericandebate.slack.com/messages/CE31J4YH1/"
      target="_blank" rel="noopener noreferrer" mat-menu-item>
      <div>Slack</div>
      <span fxFlex></span>
      <mat-icon class="icon">link</mat-icon>
    </a>
    <button mat-menu-item>Report Issue</button>
  </mat-menu>
  <div fxLayout="row" fxLayoutGap="1em">
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon class="icon">person</mat-icon>
    </button>
  </div>
  <mat-menu #userMenu="matMenu">
    <button *ngIf="afAuth.user | async as user" mat-menu-item>Hey, {{user.displayName}}</button>
    <!-- <button mat-menu-item>Settings</button> -->
    <app-login></app-login>
  </mat-menu>
</mat-toolbar>