@import "~@angular/material/theming";
@import "src/styles.scss";
:host {
  flex: 1 1 auto;
  align-self: auto;
}

mat-card {
  padding: 0;
  height: 100%;
  mat-card-header {
    padding: 16px 0;
    margin: 0;
    h2 {
      margin: 0;
    }
    mat-card-title {
      margin: 0;
      padding: 0;
      width: 100%;
      .id {
        background-color: $background-color;
        border-radius: 2px;
        width: auto;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        padding: 0 1em;
      }
    }
  }
  mat-card-content {
    padding: 16px;
    .refField {
      cursor: pointer;
    }
  }
  mat-card-actions {
    padding: 16px;
    margin: 0;
    button {
      margin: 0;
    }
  }
}