<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="2em" fxFlex=100>
  <div fxLayout="row" fxFlex=50>
    <mat-card fxFlex fxFlex fxLayout="column" fxLayoutAlign="start stretch">
      <mat-card-header fxLayout="row" fxLayoutAlign="start center" fxFlex="noshrink">
        <mat-card-title class="mat-typography">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
            <h2>Edit Statement</h2>
            <p class="id">{{(statement | async)?.id}}</p>
            <span fxFlex></span>
            <button mat-icon-button color="primary" aria-label="Close" [routerLink]="['/statements']">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </mat-card-title>
        <span fxFlex></span>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <form [formGroup]="editForm" fxLayout="column" (keydown.enter)="saveStatement()" fxLayoutGap="2em">

          <div fxLayout.gt-xs="row" fxLayoutGap="1em" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
              <mat-label>Text</mat-label>
              <input matInput type="text" formControlName="text" placeholder="Text" required>
              <mat-hint align="start">The statement text. Check the Action box if it is a motion for action.</mat-hint>
            </mat-form-field>

            <mat-checkbox color="primary" formControlName="action">Action</mat-checkbox>
          </div>

          <div fxLayout.gt-xs="row" fxLayoutGap="1em" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
              <mat-label>Original Text</mat-label>
              <input matInput type="text" formControlName="originalText" placeholder="We can achieve anything if we just fight for it together. We are who we all waited for!"
                (input)="setModified($event.target.value)">
              <mat-hint align="start">If you (have to) modify the original text, put the original here and check the
                box.</mat-hint>
            </mat-form-field>

            <mat-checkbox color="primary" formControlName="modified">Modified</mat-checkbox>
          </div>

          <mat-form-field>
            <mat-select placeholder="Type" formControlName="statement_type" required>
              <mat-option *ngFor="let type of statement_types" [value]="type">
                {{type.name}}
              </mat-option>
            </mat-select>
            <mat-hint align="start">Select if this statement is a supposed fact or an opinion?</mat-hint>
            <mat-error>Please choose Source Type</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput type="text" formControlName="desc" placeholder="Description"></textarea>
            <mat-hint align="start">Press Shift+Enter for a new line</mat-hint>
          </mat-form-field>


          <app-context-input [contexts]="contexts"></app-context-input>

          <div class="refField" fxLayout.gt-xs="row" fxLayoutGap="1em" fxLayoutAlign="start center">
            <mat-form-field fxFlex (click)="selectReference()" mat-ripple>
              <mat-label>Reference</mat-label>
              <input *ngIf="svc.selectedRefId() != ''" matInput type="text" formControlName="ref" placeholder="Reference"
                required [value]="svc.selectedRef.path">
              <input matInput *ngIf="svc.selectedRefId() == ''" type="text" formControlName="ref" placeholder="Reference"
                required>
              <mat-hint align="start">Click to change reference, use button to edit.</mat-hint>
            </mat-form-field>
            <button mat-icon-button color="primary" aria-label="Edit Reference" (click)="editReference()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <span fxFlex></span>

          <div fxLayout="row">
            <button *ngIf="admin.admin" mat-icon-button color="accent" (click)="deleteItem()">
              <mat-icon>delete</mat-icon>
            </button>
            <span fxFlex></span>
            <button mat-raised-button color="primary" type="submit" (click)="saveStatement()" [disabled]="!editForm.valid">Save</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex=50>
    <router-outlet></router-outlet>
  </div>
</div>