@import "~@angular/material/theming";
@import "src/styles.scss";

:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.app {
  min-height: 100%;
  background-color: $background-color;
}
