<mat-card fxFlex fxLayout="column" fxLayoutAlign="start stretch">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <mat-card-title class="mat-typography">
      <h2>Contexts</h2>
    </mat-card-title>
    <span fxFlex></span>
    <mat-form-field class="search" floatLabel="never">
      <input matInput type="text" placeholder="Search" [(ngModel)]="search">
      <button mat-button *ngIf="!search" matSuffix mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-header>
  <mat-card-content fxFlex="auto" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-action-list class="addList" #contexts fxFlex=100>
      <mat-divider></mat-divider>
      <mat-list-item>
        <form class="addForm" [formGroup]="addForm" (keydown.enter)="addContext()" fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field class="add" floatLabel="never">
            <input matInput type="text" placeholder="Add Context URL (https://canonicaldebate.com)" formControlName="text">
            <button mat-button *ngIf="addForm.valid" (keydown.enter)="addContext()" matSuffix mat-icon-button
              aria-label="Clear" (click)="addForm.reset()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button mat-button [disabled]="!addForm.valid" type="submit" (click)="addContext()" matSuffix mat-icon-button
            aria-label="Add">
            <mat-icon>add</mat-icon>
          </button>
        </form>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-action-list>
    <mat-action-list class="list" #contexts fxFlex=100>
      <mat-list-item *ngFor="let context of contextList | async" [ngClass]="{'selected': svc.selectedId() == context.id, routeSelected: routeId == context.id}">
        <mat-divider></mat-divider>
        <div fxFlex (click)="select(context)" fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
            <p fxFlex="noshrink" class="refType">{{context.source_type.name}}</p>
            <p class="refText">{{context.source}}</p>
          </div>
          <a mat-icon-button href="{{context.source}}" target="_blank" rel="noopener noreferrer">
            <mat-icon class="icon">link</mat-icon>
          </a>
        </div>
        <button mat-icon-button [routerLink]="['edit', context.id]">
          <mat-icon class="icon">edit</mat-icon>
        </button>
      </mat-list-item>
    </mat-action-list>
  </mat-card-content>
</mat-card>